* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Minecraft; */
}
.splash {
  width: 100vw;
  height: 100vh;
  background: url("https://wallpaperaccess.com/full/2532392.jpg") center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  flex-direction: column;
}
.cont {
  height: 100vmin;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.grid {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: #81a0ff;
}
.unit {
  /* border: 1px solid black; */
  min-height: fit-content;
}
.unit:hover {
  border: 1px solid white;
}
.tools {
  height: 100%;
  width: 20%;
  border: 1px solid black;
}
.tool {
  margin: auto;
  width: 160px;
  height: 20%;
  border: solid 1px white;
}

.tool:nth-child(1) {
  background: url(block/tool_goldpick.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tool:nth-child(2) {
  background: url(block/tool_axe.jpg) center center no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tool:nth-child(3) {
  background: url(block/tool_shovel.jpg) center center no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="dirt"] {
  background: url(block/img_dirt.jpg) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="grass"] {
  background: url(block/img_grass.jpg) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="stone"] {
  background: url(block/img_stone.jpg) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="wood"] {
  background: url(block/img_wood.jpg) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="coal"] {
  background: url(block/img_coal.jpg) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="diamond"] {
  background: url(block/img_diamond.jpg) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="green"] {
  background: url(block/img_green.jpg) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="leaves"] {
  background: url(block/img_leaves.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="flower"] {
  background: url(block/img_flower.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="flower2"] {
  background: url(block/img_flower2.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-type="bush"] {
  background: url(block/img_bush.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.inventory {
  width: 100%;
  height: 20%;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item {
  height: 100%;
  width: 25%;
}
.btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  border: solid 1px;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
}
.active {
  border: 3px solid gold;
}
.itemCount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: auto;
  height: 100%;
  color: deeppink;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
